<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <a class="ml-3 text-xl" href="{{ absLangURL "/" }}">{{ site.Title }}</a>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL | absLangURL }}" class="mr-5 hover:text-gray-900">{{ i18n .Name }}</a>
            {{ end }}
        </nav>
        {{ if .IsTranslated }}
        <nav class="flex flex-wrap items-center text-base justify-center">
            {{ range .Translations }}
            <a class="text-indigo-500 font-bold" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
        </nav>
        {{ end }}
    </div>
    <hr>
</header>